* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes circleFill {
  from {
    width: 0;
    height: 0;
    border-radius: 0%;
    opacity: 1;
    transform: translateX(-100%);
  }
  to {
    width: 100%; /* You may need to adjust this value */
    height: 100%; /* You may need to adjust this value */
    border-radius: 0%;
    opacity: 1;
    transform: translateX(0%);
  }
}
header {
  z-index: 10000;
}

.animateMenu {
  position: fixed;
  left: 0%;
  top: 7svh !important;
  background-color: #1a2033 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  color: white;
  font-size: 1.5rem;
  width: 100vw;
  height: 92svh !important;
  gap: 6rem !important;
  animation: circleFill 0.5s ease-in-out forwards;
}
.loader__icon {
  animation: rotate 0.5s ease-in-out infinite;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.primary-button {
  border: 2px solid #ecdac7 !important;
  color: #816a51 !important;
  transition: 0.1s ease-in-out;
}

button:hover,
a:hover {
  filter: brightness(0.9) !important;
}
.secondary-bg {
  background-color: #ecdac7 !important;
}
.secondary-button {
  transition: 0.1s ease-in-out;
  border: 2px solid #ecdac700 !important;
  color: #6f675e !important;
}
.secondary-button:hover {
  border: 2px solid #ecdac7 !important;
}
.secondary-button-large {
  transition: 0.1s ease-in-out;
  border: 2px solid #ecdac700 !important;
  color: white !important;
  background-color: #1a2033 !important;
}
.checkout-button {
  transition: 0.1s ease-in-out;
  border: 2px solid #ecdac700 !important;
  color: white !important;
  background-color: #1a2033 !important;
}
.carticon-container {
  position: relative;
}
.cart-icon-number {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 18px;
  width: 18px;
  font-size: 12px;
  display: flex;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: white;
  border: 1px solid #1d1d1d;
  color: #1d1d1d;
}
.cart-icon-number-desktop {
  position: absolute;
  left: 40%;
  top: 48%;
  height: 15px;
  width: 15px;
  font-size: 12px;
  display: flex;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: white;
  border: 1px solid #1d1d1d;
  color: #1d1d1d;
}
.no-hover-effect:hover {
  filter: none !important;
}
.current-price {
  font-size: clamp(1.1rem, 1vw, 1.4rem) !important;
}
.product-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
  gap: 1.5rem;
  place-items: center stretch;
}
.product-container article {
  border-radius: 10px;
  max-width: 350px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Soft shadow */
  border: 1px solid rgba(0, 0, 0, 0.1); /* Subtle border */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

.searchbar {
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Soft shadow */
}

.product-container article:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08); /* Enhanced shadow on hover */
}
.product-title {
  transition: 0.1s ease-in-out;
}
.product-title:hover {
  color: rgb(75, 75, 75);
}

button {
  transition: 0.1s ease-in-out;
}
.product-container img {
  width: 100%;
  height: auto;
  display: flex;
  height: 250px;
}
@media (max-width: 600px) {
  .product-container {
    grid-template-columns: repeat(auto-fill, minmax(200, 1fr));
  }
  .product-container article {
    max-width: 600px;
  }
}
.remove-from-cart {
  color: rgb(214, 80, 80);
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

/* HERO SECTION */

.hero {
  position: relative;
  left: 0;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.hero__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero__item {
  text-align: center;
  position: relative;
  width: 100%;
  height: 30svh;
}

.hero__image {
  filter: brightness(0.75);
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero__overlay {
  color: #fff; /* Assuming white text color */
  flex-wrap: wrap;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 600px) {
  .hero__item {
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
  }
  .hero__overlay {
    color: #fff; /* Assuming white text color */
    flex-wrap: wrap;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 312px;
    gap: 1rem;
  }
  .hero__title {
    padding-inline: 2rem;
    font-size: calc(1.5rem + 1.5vw);
    font-weight: bolder; /* Responsive font size */
    margin: 0.5em 0;
    color: rgb(255, 255, 255);
  }
  .hero__description {
    padding-inline: 2rem;
    font-size: calc(1rem + 1vw); /* Responsive font size */
    max-width: 60%; /* Adjust as needed */
    font-weight: 200;
    text-align: start;
    margin-block: 1rem;
  }
  .hero__next {
    margin-inline: 2rem;
    margin-bottom: 1rem;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #1a2033;
    cursor: pointer;
    border-radius: 5px;
  }
}

.hero__title {
  padding-inline: 2rem;
  font-size: calc(1.5rem + 1.5vw);
  font-weight: bolder; /* Responsive font size */
  margin: 0.5em 0;
}

.hero__description {
  padding-inline: 2rem;
  font-size: calc(1rem + 1vw); /* Responsive font size */
  max-width: 100%; /* Adjust as needed */
  font-weight: 200;
  text-align: start;
  margin-block: 1rem;
}

.hero__next {
  margin-inline: 2rem;
  margin-bottom: 1rem;
  padding: 5px 15px;
  font-size: 1rem;
  background-color: #1a203300;
  color: white;
  outline: 2px solid white;
  cursor: pointer;
  border-radius: 5px;
}

.cart-item-image {
  width: 80px !important;
  height: 80px !important;
  object-fit: cover;
  border-radius: 10px;
}
.cart-image-container {
  min-width: 80px;
  max-width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 10px;
}
.checkout-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 767px) {
  .checkout-page {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
}
.cart-item-info-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media (max-width: 400px) {
  .cart-item-info-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.checkout-form input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #1a2033;
}
.cart-overview,
.checkout-info {
  max-width: 500px;
}
