* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes circleFill {
  from {
    width: 0;
    height: 0;
    border-radius: 100%;
    opacity: 1;
    transform: translateX(-100%);
  }
  to {
    width: 100%; /* You may need to adjust this value */
    height: 100%; /* You may need to adjust this value */
    border-radius: 0%;
    opacity: 1;
    transform: translateX(0%);
  }
}

.animateMenu {
  position: fixed;
  left: 0%;
  top: 9.5svh !important;
  background-color: #1a2033 !important; /* Adjust color as needed */
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  color: white;
  font-size: 1.5rem;
  width: 100vw;
  height: 89svh !important;
  gap: 3rem !important;
  animation: circleFill 1s ease-in-out forwards;
}
.loader__icon {
  animation: rotate 0.5s ease-in-out infinite;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.primary-button {
  border: 2px solid #ecdac7 !important;
  color: black !important;
}

.secondary-bg {
  background-color: #ecdac7 !important; /* Adjust color as needed */
}
.secondary-button {
  border: 2px solid #ecdac7 !important;
  color: #6f675e !important;
}
.carticon-container {
  position: relative;
}
.cart-icon-number {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 20px;
  width: 20px;
  font-size: 12px;
  display: flex;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: white;
  border: 2px solid black;
  color: black;
}

.product-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  justify-content: center;
}
.product-container img {
  width: 100%;
  height: auto;
  display: flex;
  height: 400px;
}
@media (max-width: 600px) {
  .product-container {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}
